html {
    background-color: #E5E7E9;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.disable-div {
    pointer-events: none;
}

.nav-wrapper {
    background: #2E4053; 
    padding: 10px; 

}

.nav {
    margin-left: 15px;
}

.nav-title {
    font-size: 20px;
    margin-left: 5px;
    margin-top: -10px;
    color: white;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    border-bottom: 10px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.move-right {
    margin-top: 3%;
    margin-left: 38vw;
}