html {
    background-color: #E5E7E9;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.disable-div {
    pointer-events: none;
}

.nav-wrapper {
    background: #2E4053; 
    padding: 10px; 

}

.nav {
    margin-left: 15px;
}

.nav-title {
    font-size: 20px;
    margin-left: 5px;
    margin-top: -10px;
    color: white;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    border-bottom: 10px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.move-right {
    margin-top: 3%;
    margin-left: 38vw;
}

.hero.is-large .hero-body {
    padding-bottom: 0;
    padding-top: 10rem;
}
.hero figure {
    height: 0;
    padding-bottom: 55%;
    overflow: hidden;
}
figure.image {
    padding-left: 50px;
    padding-right: 50px;
}
.bg-white {
    background-color: #ffffff;
}
.bg-light {
    background-color: #faf6fb;
}
.media-left {
    padding-left: 15px;
}
.media-left .icon {
    margin-top: 15px;
}
.media-content {
    padding-left: 25px;
}
.media {
    background-color: #ffffff;
    padding: 25px;
}
.section {
    padding: 7rem 5rem;
}
.content h1 {
    margin-bottom: 2em;
}
#stn-download {
    color: #ffffff;
    background-image: url("https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
}
.hero.is-landing {
    color: #ffffff;
    background-image: url("https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
}
.hero.is-landing * {
    color: #ffffff;
}
#stn-download h1 {
    color: #ffffff;
}
.button.button-store {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #633991;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
    height: auto;
    text-transform: uppercase;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.button.button-store:hover {
    color: #000000;
    background-color: #faf6fb;
}
.button.button-store img {
    margin-right: 0.4rem;
    vertical-align: text-bottom;
}

.img {
    height: 100vh;
}

.shift-right {
    margin-left: 12px;
}

.text-right {
    text-align: right;
    margin-top: -1%;
}